1. Create a function that takes a list and string. The function should remove
the letters in the string from the list, and return the list.
remove_letters(["s", "t", "r", "i", "n", "g", "w"], "string") ➞ ["w"]

In [11]:
def remove_letters(arr, word):
    word_arr = list(word)
    res = []
    for w in word_arr:
        if w not in arr:
            res.append(w)
        else:
            arr.remove(w)
    return arr

remove_letters(["d", "b", "t", "e", "a", "i"], "edabit")

[]

2. A block sequence in three dimensions. We can write a formula for this one:

In [7]:
def blocks(n):
    if n==1:
        return 5
    return blocks(n-1)+3+2+n

blocks(5)

39

3. Create a function that subtracts one positive integer from another, without
using any arithmetic operators such as -, %, /, +, etc.
Examples
my_sub(5, 9) ➞ 4

In [16]:
def my_sub(a,b):
    x = max([a, b])
    y = min([a, b])
    while (y != 0):
        borrow = (~x) & y
        x = x ^ y
        y = borrow << 1
    return x

my_sub(10, 30)

20

4. Create a function that takes a string containing money in dollars and
pounds sterling (seperated by comma) and returns the sum of dollar bills only,
as an integer.
For the input string:
- Each amount is prefixed by the currency symbol: $ for dollars and £ for
pounds.
- Thousands are represented by the suffix k.
i.e. $4k = $4,000 and £40k = £40,000

In [108]:
import re
def add_bill(text):
    regex = r"d(\d+k?)\,?"
    person = re.findall(regex, text)
    res = 0
    for p in person:
        if "k" in p:
            p = int(p.replace("k",""))*1000
        res+= int(p)
    return res

add_bill("p30,d2k,p60,d200,p360")

2200

5. Create a function that flips a horizontal list into a vertical list, and a vertical
list into a horizontal list.
In other words, take an 1 x n list (1 row + n columns) and flip it into a n x 1 list
(n rows and 1 column), and vice versa.
Examples
flip_list([1, 2, 3, 4]) ➞ [[1], [2], [3], [4]]
#Take a horizontal list and flip it vertical.

In [115]:
import numpy

def flip_list(arr):
    res = numpy.reshape(arr, [len(arr), 1])
    print(res)
    
flip_list([1, 2, 3, 4])

[[1]
 [2]
 [3]
 [4]]