1. Given a list of numbers, create a function that removes 25% from every
number in the list except the smallest number, and adds the total amount
removed to the smallest number.

In [5]:
def show_the_love(arr):
    minn = min(arr)
    res = []
    temp = 0
    for a in arr:
        if a!=minn:
            a_a = a*0.75
            temp += a*0.25
            res.append(a_a)
        else:
            res.append(a)
    res[res.index(minn)] = minn+temp
    return res

show_the_love([16, 10, 8])

[12.0, 7.5, 14.5]

2. Create a function that takes in two words as input and returns a list of three
elements, in the following order:
1.Shared letters between two words.
2.Letters unique to word 1.
3.Letters unique to word 2.
Each element should have unique letters, and have each letter be
alphabetically sorted.

In [12]:
def letters(w1, w2):
    w1_arr = list(set(w1))
    w2_arr = list(set(w2))
    
    res1 = []
    res2 = []
    res3 = []
    for w1 in w1_arr:
        if w1 in w2_arr:
            res1.append(w1)
            w2_arr.remove(w1)
        else:
            res2.append(w1)
    res1.sort()
    res2.sort()
    w2_arr.sort()
    return ["".join(res1), "".join(res2), "".join(w2_arr)]

letters("happiness", "envelope")

['enp', 'ahis', 'lov']

3. Write a function that pairs the first number in an array with the last, the
second number with the second to last, etc.
Examples
pairs([1, 2, 3, 4, 5, 6, 7]) ➞ [[1, 7], [2, 6], [3, 5], [4, 4]]

In [24]:
def pairs(arr):
    res = []
    if len(arr)%2==0:
        l = len(arr)//2
    else:
        l = len(arr)//2 + 1
    for i in range(0, l):
        res.append([arr[i], arr[len(arr)-i-1]])
    return res

pairs([1, 2, 3, 4, 5, 6])

[[1, 6], [2, 5], [3, 4]]

4. Write a function that adds two numbers. The catch, however, is that the
numbers will be strings.
Examples
add_str_nums("4", "5") ➞ "9"

In [27]:
def add_str_nums(w1, w2):
    try:
        res = int(w1) +int(w2)
        return str(res)
    except:
        return "-1"

add_str_nums("1874682736267235927359283579235789257","32652983572985729")

'1874682736267235927391936562808774986'

5. lPaeesh le pemu mnxit ehess rtnisg! Oh, sorry, that was supposed to say:
Please help me unmix these strings!
Somehow my strings have all become mixed up; every pair of characters has
been swapped. Help me undo this so I can understand my strings again.
Examples
unmix("123456") ➞ "214365"

In [39]:
def unmix(text):
    arr = list(text)
    if len(arr)%2==0:
        l = len(arr)
    else:
        l = len(arr)-1
    for i in range(0, l, 2):
        temp = arr[i]
        arr[i]= arr[i+1]
        arr[i+1]= temp
    return "".join(arr)

unmix("hTsii  s aimex dpus rtni.g")
# unmix("badce")

'This is a mixed up string.'